# Cobify Technical Assesment

In [1]:
import pandas as pd
import numpy as np

## 1. Load Data

In [3]:
cd ..

/Users/lucastrost/Documents/GitHub/data-analytics-challenge

In [4]:
cd data

/Users/lucastrost/Documents/GitHub/data-analytics-challenge/data

In [5]:
ls

measurements.csv    measurements2.xlsx

In [6]:
df = pd.read_csv('measurements.csv')

In [7]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

## 2. Cleaning

Note: Previous EDA absolved in Tableau

### 2.1 Checking for duplicates

In [8]:
df.duplicated().sum()

0

### 2.2 Adjusting Data types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [14]:
df.describe()

            speed  temp_outside          AC        rain         sun
count  388.000000    388.000000  388.000000  388.000000  388.000000
mean    41.927835     11.358247    0.077320    0.123711    0.082474
std     13.598524      6.991542    0.267443    0.329677    0.275441
min     14.000000     -5.000000    0.000000    0.000000    0.000000
25%     32.750000      7.000000    0.000000    0.000000    0.000000
50%     40.500000     10.000000    0.000000    0.000000    0.000000
75%     50.000000     16.000000    0.000000    0.000000    0.000000
max     90.000000     31.000000    1.000000    1.000000    1.000000

In [ ]:
cols = ['consume', 'distance', 'refill liters']

In [ ]:
df[cols] = df[cols].apply(pd.to_numeric)

In [ ]:
df

### 2.3 Handling nulls

In [ ]:
# Due to previuos EDA in Tableau I feel confident in dropping specials column (Only minor loss in actual data)
df = df.drop(['specials'], axis = 1)

In [ ]:
df.describe()